In [2]:
from datetime import datetime
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
data = np.random.rand( 10, 1 )
print(data)


for x in range(0, len(data)):
    if data[x] < 1 :
        data[x] = np.random.randint(1, 10, 1)
print(data)

print(data.size)
data = data.item

[[0.24547707]
 [0.44491281]
 [0.22031844]
 [0.0096456 ]
 [0.52409282]
 [0.25596176]
 [0.04074367]
 [0.24302599]
 [0.80158749]
 [0.94768614]]
[[5.]
 [7.]
 [8.]
 [1.]
 [1.]
 [8.]
 [5.]
 [4.]
 [5.]
 [4.]]
10

In [15]:
d = {'a': 1, 'b': 2, 'c': 1}

ser = pd.Series(data=d, index=['a', 'b', 'c'])

ser

a    1
b    2
c    1
dtype: int64

In [18]:
ser.to_frame()

   0
a  1
b  2
c  1

a    1
b    2
c    1
dtype: int64